@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

@media (max-width: 340px) {
  body {
    display: flex;
  }
}
